.moderate{
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.20);
  padding: clamp(0.625rem, 5.752vw - 0.777rem, 6.125rem) clamp(0.625rem, 7.059vw - 1.096rem, 7.375rem) ;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
