.variantsBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  .variants{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}