.button{
  border-radius: 5px;
  background: rgba(123, 228, 149, 0.85);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: none;
  padding: .5px;
  color: white;
  text-align: center;
  font-family: 'PoppinsMedium', serif;
  font-size: clamp(1.063rem, 0.131vw + 1.031rem, 1.188rem);
  font-weight: 500;
  margin-bottom: 24px;
  width: clamp(0.938rem, 30.654vw - 6.534rem, 30.25rem);
  min-width: 280px;
  cursor: pointer;
  transition: 1s all ease-in-out;
  &:active{
    border-radius: 5px;
    background: rgba(86, 198, 150, 0.85);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  &:hover{
    border-radius: 5px;
    background: rgba(86, 198, 150, 0.85);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
